node_modules/.cache
node_modules/.bin
node_modules/**/*.map
node_modules/**/test*/
node_modules/**/docs
node_modules/**/examples
*.vsix
.DS_Store
*.log
.git
.gitignore
README.md
CHANGELOG.md
sample.md
.vsixmanifest
o.docx
~$*.docx
*.pdf
test-markdown.*
i.md